.navbar {
    width: 100%;
    background-color: skyblue;
    display: block;
    float:right;
}

.navbar a {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    text-decoration: none;
}

.login {
    float: right !important;
}

.navbar a:hover {
    color: white !important;
}

.navbar button {
    font-size: 25px;
    color: white;
    background-color: inherit;
    display: inline-block;
    width: 50px;
    padding-right: 6px;

}

@media only screen and (max-width:650px) {

    .navbar a {
        font-size:12px;
        padding-right: 7px;
        padding-left: 7px;
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .navbar button {
        font-size: 18px;
    }
    .login{
        padding-top: 15px !important;
    }
}